@charset "UTF-8";
/*
extend
- 특정한 선택자가 다른 선택자의 스타일을 가져야 할 때 사용하는 요소
- 스타일을 바꿀 때는 값을 변경하진 못하고 덮어씌우는 것만 가능

단점
선언되는 위치를 알 수 없다(mixin 같은 경우에는 맨 위에 작성하거나 따로 파일을 만들어서 사용)
중첩되는 스타일이 생길 수 있다
값을 변경하는 방법이 덮어씌우는 방법(중첩)밖에 없다

기초적인 방식에는 사용성이 좋지만 사용성의 명확한 제한이 생기므로 mixin을 더 사용하는 편이다
*/
.box, .box1, .box2 {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.box1, .box2 {
  background-color: lightcyan;
}

.box2 {
  background: coral;
}