/*
조건문(if)

작성 방식
1.if(조건문, true일 때 값, false 일 때 값)
2.if 조건문{
    조건을 만족할 때 값
} @else if 조건문{
    조건을 만족할 때 값2
}

*/

$color: blue;
/*title 타입마다 다른 css를 출력하도록 하기*/
$titleType: title;

.box {
    background-color: if($color ==red, coral, pink);
    width: 100px;
    height: 100px;
}

p {
    @if $titleType ==text {
        color: gray;
        font-size: 30px;
        font-weight: normal;
    } @else if $titleType == title{
        color: blueviolet;
        font-size: 50px;
        font-weight: bold;
    } @else if $titleType == subText{
        color: darkgray;
        font-size: 20px;
    }@else{
        font-size: 12px;
        color: lightgray;
    }
  
}