/*
@import
외부에 있는 다른 SCSS 파일을 연결하는 구문
scss는 컴포넌트 방식으로 여러 개의 파일을 나누기 때문에 통합하는 과정이 필요하다
동일한 scss 파일을 import할 때에는 확장자명을 생략해도 된다 (다른 확장자는 확장자명 기입해야 함)
컴파일이 필요하지 않은 scss 파일은 파일명 앞에 _를 붙이면 컴파일에서 제외 대상이 된다
*/

@import '../scss/base/reset';
@import '../scss/base/var';
@import '../scss/base/fontFace';
@import '../scss/base/mixin';
@import '../scss/base/preset';
@import '../scss/layout/header';
@import '../scss/page/main';