/*
each
map과 list 방식을 반복하는 반복문의 종류

*/


$color: coral, pink, lightblue, lightgray, purple, green, gold;

$size: ('s1': 20px, 's2': 25px, 's3':30px, 's4':35px, 's5':40px, 's6':45px, 's7':50px);

p{
    @each $colorItem in $color{
        $i : index($list: $color, $value: $colorItem);
        &:nth-of-type(#{$i}){
            /* &는 상위 선택자 참조(위의 값을 상속 받는다) */
            color:$colorItem;
        }
    }
}

//map 형식은 순번을 뽑아서 list 형식으로 만든 뒤 each문 돌려야 됨
p{
    @each $key, $value in $size{
        $sizeList: map-values($map: $size); //map 안에 있는 값들만 추출해서 새로운 변수에 list 형식으로 넣어주는 과정이 필요
        $i: index($sizeList, $value);
        &:nth-of-type(#{$i}){
            font-size: $value;
        }

    }
}
