/*
페이지 전체에서 재사용을 목적으로 제작한 코드를 정리하는 메서드

1.
@mixin mixin의 변수명{
    반복할 스타일
}

호출할 때
@include mixin의 변수명
*/

@mixin font{
    font-size: 50px;
    font-weight: bold;
    color: #666666;
}
.title{
    @include font();
    background-color: pink; //css 추가 가능
}


//2. 매개 변수를 이용하는 방법-괄호안에 매개 변수
@mixin font2($color){
    font-size: 30px;
    font-weight: bold;
    color: $color;
}

/*
3. 매개 변수의 갯수는 제한이 없지만 순서를 주의해야 하며,
값이 하나라도 모자르면 에러를 표시한다
*/
@mixin font3($size, $color){
    width: $size * 3;
    height: $size;
    background: $color;
}
.content{
    @include font2(lightgreen);
    //매개 변수 순서를 지켜서 작성해야 함
    @include font3(100px, lightblue);
}

/*
4. 매개 변수에 기본값을 지정하면 값을 생략할 경우 기본값으로 적용된다
    다만 매개 변수를 지정한 값을 앞에 넣고 사용할 때 생략해버리면 값 출력 되지 않는다(오류)
    => 뒤에 지정해야 값 생략해도 기본값 출력 
*/
@mixin box($color, $size:100px){
    width: $size*2;
    height: $size*3;
    background-color: $color;
}
.text{
    // @include box(yellow);
    @include box(yellow, 60px);
}

//5. 조건문 사용
@mixin circle($size, $radius:0){
    width: $size;
    height: $size;
    border: 1px solid black;

    @if $radius != 0{
        border-radius: $radius;
    }  
}
.box{
    @include circle(50px, 50%);
}

//6. 말 줄임표
@mixin ellipsis($lineHeight:16px, $line:1){
    overflow: hidden;
    text-overflow: ellipsis;

    @if($line > 1) {
        line-height: $lineHeight;
        max-height: $lineHeight * $line;
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }@else{
        white-space: nowrap;
    }
}
.ellipsis2{
    width: 700px;
    // white-space: nowrap; //줄바꿈x 
    overflow: hidden;
    text-overflow: ellipsis;

   
    //2줄 이상 줄 바꿈
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 48px; //line-height * line-clamp 숫자

    border: 1px solid black;
}
.ellipsis{
    width: 800px;
    border: 1px solid blueviolet;
    @include ellipsis();
}