/*
list
여러 개의 값을 하나의 변수에 나열해서 담는 방법

문법
$변수명: 값1, 값2, 값3, ...
$변수명: (값1, 값2, 값3, ...) => map은 무조건 키와 값이 있어야 하고 list는 값만 있다
$변수명: 값1 값2 값3
*/

$listItem: apple, orange, lemon;
$size: 20px, 30px, 40px;
$weight: normal, regular, bold;
$family: 'roboto', 'verdana', '돋움';

body{
    //index: list 안에 있는 특정 값의 순번을 호출(순번은 1부터 시작)
    background: index($listItem, lemon);
    //length: list 안에 있는 값의 갯수를 호출
    background: length($list: $listItem);
    //nth: list 안에 있는 특정 순번에 있는 값을 호출 (index의 반대)
    background: nth($list: $listItem, $n:1 );
    //set-nth: list 안에 있는 특정 순번에 있는 값을 변경
    background: set-nth($list: $listItem, $n: 2, $value: melon);
    //zip: 여러 개의 리스트들을 하나의 리스트 안에서 목록 형태로 결합
    background: zip($size, $weight, $family);
    
}