.inner {
    width: auto;
    height: 100%;
    padding: 0px 140px;
    position: relative;
    top: 0;
    left: 0;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    z-index: -1;
    border: none;
}

body,
html {
    font-size: 14px;
    font-family: $text;
    background-color: $blackColor;
}

.skip-menu li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    color: $whiteColor;
    background-color: $blackColor;
    font-weight: bold;
    text-align: center;
}

.skip-menu li a:focus {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

.mobile {
    display: none;
}
.dic-btn{
    width: 100%;
    height: 56px;
    border: 1px solid $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    &:after{
        content: "";
        width: 0;
        height: 100%;
        background-color: $whiteColor;
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.5s 0s, opacity 0.5s 0s;
        z-index: -1;
        opacity: 0;
        }
    &:hover:after{
        width: 100%;
        opacity: 1;
        transition: width 0.5s 0s, opacity 0s;
    }
    &:hover{
        color: #151515;
    }
}

.link-btn-v2{
    color: $whiteColor;
    font-size: 16px;
    display: flex;
    gap: 5px;
    align-items: center;
    span{
        position: relative;
        top: 0;
        left: 0;
        &:before{
            content: "";
            width: 100%;
            height: 1px;
            background-color: $whiteColor;
            display: block;
            position: absolute;
            left: 0;
            bottom: -5px;
        }
        &:after{
            content: "";
            width: 0;
            height: 1px;
            background-color: $whiteColor;
            display: block;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: 0.4s;
        }
    }
    &:hover span:before{
        display: none;
    }
    &:hover span:after{
        width: 100%;
    }
}

@include laptop{
    .inner{
        padding: 0 100px;
    }
}
@include laptop2{
    .inner{
        padding: 0 75px;
    }
}

@include tablet {
   .inner{
        padding: 0 20px;
   }
}
@include mobile {
   .pc{
    display: none;
   }
   .mobile{
    display: block;
   }
}