.inner {
    width: auto;
    height: 100%;
    padding: 0px 140px;
    position: relative;
    top: 0;
    left: 0;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    z-index: -1;
    border: none;
}

body,
html {
    font-size: 14px;
    font-family: $text;
    background-color: $blackColor;
}

.skip-menu li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    color: $whiteColor;
    background-color: $blackColor;
    font-weight: bold;
    text-align: center;
}

.skip-menu li a:focus {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

.laptop2,
.tablet,
.mobile {
    display: none;
}

@include laptop2{
    .laptop{
        display: none;
    }
    .laptop2{
        display: block;
    }
}

@include tablet {
   .laptop2,
   .laptop,
   .pc {
    display: none;
   }
   .tablet{
    display: block;
   }
}
@include mobile {
   
}