
/* font */
// sans-serif: 글씨체 종류(획의 뻗침이 없는 글씨체)
$title: 'genesis-head', sans-serif; //만약 폰트 다운을 못 받았을 경우 sans-serif인 폰트 중에 아무거나 다운 받아라(적어도 느낌이 비슷하게끔)
$titlelight: 'genesis-head-light', sans-serif;
$text: 'genusis-text', sans-serif;



/* color */
$whiteColor: #ffffff;
$blackColor: #111111;
