/*
var = variable 변수
특정한 주소에 값을 할당하는 방법 (스크립트에서 사용하던 방법)

변수의 선언 방법
$변수명: 값
변수명에는 숫자, 대문자, 한글, 특수문자로 시작할 수 없다(특수문자는 _와 - 가능)

변수에 들어가는 데이터의 유형
숫자: 10, 10px, 10%, 10rem, 10em...
문자: 'red', 'images의 경로'..
컬러 값:'red', '#ffffff', rgb, rgba
boolean: true / false 
list(array): 1, 2, 3, ...
Nulls: 비어있는 값 
*/

$fontSize:30px;
$bgBlue: blue;
p{
    $bgColor: red !global;
    font-size: $fontSize;
    background-color: $bgColor;
}
h1{
    background-color: $bgBlue;
}

/* 지역 변수와 전역 변수의 차이
 전역 변수는 모든 영역에서 사용할 수 있지만 지역 변수는 특정한 선택자 내부에서만 사용할 수 있다
 그 외의 영역에서 사용 시 변수명을 인식하지 못한다
 지역 변수를 전역 변수로 교체할 때 값 뒤에 !global 추가
*/