@charset "UTF-8";
/*
@import
외부에 있는 다른 SCSS 파일을 연결하는 구문
scss는 컴포넌트 방식으로 여러 개의 파일을 나누기 때문에 통합하는 과정이 필요하다
동일한 scss 파일을 import할 때에는 확장자명을 생략해도 된다 (다른 확장자는 확장자명 기입해야 함)
컴파일이 필요하지 않은 scss 파일은 파일명 앞에 _를 붙이면 컴파일에서 제외 대상이 된다
*/
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* font */
/* color */
@font-face {
  font-family: "genesis-head-light";
  src: url(../../fonts/GenesisSansHeadKRLight.eot);
  src: url(../../fonts/GenesisSansHeadKRLight.eot#iefix) format("embededopentype"), url(../../fonts/GenesisSansHeadKRLight.woff) format("woff"), url(../../fonts/GenesisSansHeadKRLight.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "genesis-head";
  src: url(../../fonts/GenesisSansHeadKRRegular.eot);
  src: url(../../fonts/GenesisSansHeadKRRegular.eot#iefix) format("embededopentype"), url(../../fonts/GenesisSansHeadKRRegular.woff2) format("woff2"), url(../../fonts/GenesisSansHeadKRRegular.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "genesis-text";
  src: url(../../fonts/GenesisSansTextKRRegular.eot);
  src: url(../../fonts/GenesisSansTextKRRegular.eot#iefix) format("embededopentype"), url(../../fonts/GenesisSansTextKRRegular.woff2) format("woff2"), url(../../fonts/GenesisSansTextKRRegular.woff) format("woff");
  font-style: normal;
}
/*
content
선언된 mixin안에서 새로운 스타일을 적용할 때 사용하는 기법
기존 mixin이 가지고 있는 스타일 외에 선택자나 속성 등을 추가하여 사용할 때 
*/
.inner {
  width: auto;
  height: 100%;
  padding: 0px 140px;
  position: relative;
  top: 0;
  left: 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
  border: none;
}

body,
html {
  font-size: 14px;
  font-family: "genusis-text", sans-serif;
  background-color: #111111;
}

.skip-menu li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  color: #ffffff;
  background-color: #111111;
  font-weight: bold;
  text-align: center;
}

.skip-menu li a:focus {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}

.mobile {
  display: none;
}

@media (max-width: 1600px) {
  .inner {
    padding: 0 100px;
  }
}
@media (max-width: 1360px) {
  .inner {
    padding: 0 75px;
  }
}
@media (max-width: 1024px) {
  .inner {
    padding: 0 20px;
  }
}
.h-container {
  width: 100%;
  height: 70px;
}
.h-container .inner {
  display: flex;
  align-items: center;
}

.logo {
  width: 128px;
  margin-right: 60px;
}

.gnb {
  height: 100%;
}
.gnb .gnb-list {
  display: flex;
  gap: 60px;
  height: 100%;
}
.gnb .gnb-list li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
.gnb .gnb-list li a:hover {
  color: rgb(255, 255, 255);
}

/* gnb */
.support-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  gap: 30px;
}
.support-menu a {
  color: rgba(255, 255, 255, 0.7);
  transform: 0.3s;
  display: flex;
  align-items: center;
  height: 100%;
}
.support-menu a:hover {
  color: rgb(255, 255, 255);
}
.support-menu a img {
  width: 17px;
}
.support-menu img {
  display: none;
}
.support-menu .search-btn img {
  display: block;
}

.mobile-btn {
  width: 66px;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px 22px;
  box-sizing: border-box;
  margin-left: 22px;
}
.mobile-btn:before {
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mobile-btn div {
  width: 100%;
  height: 16px;
  position: relative;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.mobile-btn div i {
  width: 100%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0px;
  transition: 0.5s;
}
.mobile-btn div .line1 {
  top: 0px;
}
.mobile-btn div .line2 {
  bottom: 0px;
}
.mobile-btn:hover .line1 {
  top: 50%;
  transform: rotate(45deg);
}
.mobile-btn:hover .line2 {
  top: 50%;
  transform: rotate(-45deg);
}

@media (max-width: 1600px) {
  .logo {
    margin-right: 50px;
  }
}
@media (max-width: 1360px) {
  .support-menu a .text {
    display: none;
  }
  .support-menu a img {
    display: block;
  }
}
@media (max-width: 1024px) {
  .h-container {
    height: 60px;
  }
  .gnb {
    display: none;
  }
  .support-menu .sup-link,
  .support-menu .search-btn {
    display: none;
  }
  .mobile-btn {
    margin-left: 0;
  }
  .mobile-btn::before {
    display: none;
  }
}
.visual-wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 610px;
  position: relative;
  top: 0;
  left: 0;
}
.visual-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /*
  object-fit
  멀티미디어 요소 (이미지, 비디오)
  background에 있는 cover, contain으로 멀티미디어 요소들의 사이즈를 조절할 수 있다
  */
}
.visual-wrapper .visual-item {
  width: 100%;
  height: 100%;
}
.visual-wrapper .visual-text {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 330px;
  padding-top: 50px;
  box-sizing: border-box;
}
.visual-wrapper .visual-text:after {
  content: "";
  width: 330px;
  height: 70px;
  box-sizing: border-box;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.visual-wrapper .visual-text .sub-text {
  font-size: 26px;
  font-family: "genesis-head-light", sans-serif;
  color: #ffffff;
}
.visual-wrapper .visual-text .title {
  font-size: 80px;
  font-family: "genesis-head-light", sans-serif;
  color: #ffffff;
  margin: 20px 0 30px 0;
  font-weight: 100;
}
.visual-wrapper .visual-text .link-box {
  position: absolute;
  bottom: 23%;
  display: flex;
  gap: 60px;
}
.visual-wrapper .visual-text a {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
}
.visual-wrapper .visual-text a:after {
  content: "";
  width: 7px;
  height: 12px;
  display: block;
  background: url(../../images/ico-arrow-white.png) no-repeat center center/7px;
  transform: rotate(180deg);
}
.visual-wrapper .visual-text a span {
  display: block;
  width: 100%;
  position: relative;
}
.visual-wrapper .visual-text a span:after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  transition: 0.5s;
}
.visual-wrapper .visual-text a span:hover:after {
  width: 100%;
}
.visual-wrapper .visual-controls {
  position: absolute;
  left: 50%;
  bottom: 13.8%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 30px;
}
.visual-wrapper .visual-controls .dot-list {
  display: flex;
  gap: 18px;
}
.visual-wrapper .visual-controls .dot-list li {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /*
  background-clip
  배경 이미지나 배경 컬러를 영역을 어디까지 설정하는지에 대한 속성(박스사이징과 비슷)
  border-box: 테두리 영역과 그 안쪽까지 채워줌
  content-box: 컨텐츠 내용만 영역을 채움
  padding-box: 안쪽 여백 영역만큼만 영역을 채움
  */
}
.visual-wrapper .visual-controls .dot-list li.on {
  background: transparent;
  border-color: #ffffff;
}
.visual-wrapper .visual-controls .pause-btn {
  width: 20px;
  height: 20px;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.visual-wrapper .visual-controls .pause-btn .bx-play {
  display: none;
}

@media (max-width: 1600px) {
  .visual-wrapper .visual-text {
    padding-left: 280px;
  }
  .visual-wrapper .visual-text:after {
    width: 280px;
  }
  .visual-wrapper .visual-text .sub-text {
    font-size: 20px;
  }
  .visual-wrapper .visual-text .title {
    font-size: 60px;
  }
  .visual-wrapper .visual-text .link-box a {
    font-size: 14px;
  }
}
@media (max-width: 1360px) {
  .visual-wrapper .visual-text {
    padding: 70px 0 0 250px;
  }
  .visual-wrapper .visual-text:after {
    width: 250px;
  }
  .visual-wrapper .visual-text .sub-text {
    font-size: 18px;
  }
  .visual-wrapper .visual-text .title {
    font-size: 48px;
  }
  .visual-wrapper .visual-text .link-box a {
    font-size: 12px;
  }
  .visual-wrapper .visual-controls {
    bottom: 10%;
  }
  .visual-wrapper .visual-controls .dot-list {
    gap: 12px;
  }
  .visual-wrapper .visual-controls .dot-list li {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 1024px) {
  .visual-wrapper {
    height: 0;
    padding-top: 60.54%;
    min-height: 0px;
  }
  .visual-wrapper .visual-text {
    padding: 10px 0 0 55px;
  }
  .visual-wrapper .visual-text:after {
    display: none;
  }
  .visual-wrapper .visual-item {
    position: absolute;
    top: 0;
    left: 0;
  }
}