@charset "UTF-8";
/*
function 함수
- 사용자가 직접 함수를 정의하여 사용하는 방식(mixin, extend, if, for.. 같은 메서드도 어떠한 방식으로 제작되어 있는 함수 형태)

mixin과 흡사하지만 출력 방식은 전혀 다르다
mixin은 지정된 스타일에 적용해서 반환하는 방식
function은 지정된 스타일이 아닌 연산 작용을 하는 특정 값을 return문으로 반환한다

mixin 변수명(){
    스타일
}

function 함수명(매개변수){
    @return 값
}
*/
.box {
  background-color: coral;
  width: 520px;
  height: 320px;
}