@charset "UTF-8";
/*
maxWidth 안에서 grid 형태에 따라서 분할 작업하도록 function으로 분할 영역 지정
*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 12px;
  background-color: gray;
}
.container .content1 {
  width: 1200px;
  height: 300px;
  margin-bottom: 10px;
  background-color: pink;
}
.container .content2 {
  width: 600px;
  height: 200px;
  margin-bottom: 10px;
  background-color: violet;
}